# Скопируй в /srv/photohost/.env и заполни
DEBUG=0
SECRET_KEY=сюда-длинную-случайную-строку
ALLOWED_HOSTS=plenka-pics.ru,www.plenka-pics.ru
CSRF_TRUSTED_ORIGINS=https://plenka-pics.ru,https://www.plenka-pics.ru

POSTGRES_DB=plenka
POSTGRES_USER=plenka
POSTGRES_PASSWORD=сюда-пароль-от-базы
POSTGRES_HOST=localhost

TRUST_X_FORWARDED_FOR=1
MEDIA_X_ACCEL=1
MEDIA_ROOT=/srv/photohost/media
CACHE_DIR=/srv/photohost/cache
ADMIN_URL=сюда-неочевидный-адрес/
